<launch>
  
  <arg name="pcap_pipe_filename" default="/tmp/received.pcap"/>
  <arg name="gnuradio_flowgraph" default="/home/augustojv/catkin_ws/src/dsrc/gr-ieee802-11/examples/wifi_transceiver.py"/>
  
  <!-- Wireshark wrapper node -->
  <!--
  <node pkg="dsrc" type="wireshark_wrapper" name="wireshark_wrapper" args="$(arg pcap_pipe_filename)" output="screen"/>
  -->
  
  <!-- GNURadio wrapper node -->
  <node pkg="dsrc" type="gnuradio_wrapper" name="gnuradio_wrapper" args="$(arg gnuradio_flowgraph)" output="screen"/>

  <!-- Map producer-consumer -->
  <node pkg="dsrc" type="map_producer_consumer" name="map_producer_consumer" output="screen"/>
  
  <!-- Remote agent -->
  <node pkg="dsrc" type="remote_agent" name="remote_agent" output="screen"/>

</launch>